*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --grey: #838383;
    --green: #e7fff3;
    --mediumgreen:rgb(102, 156, 138);
    --darkgreen: #038358;
    --font: ;
}
body{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 850px;
    /* filter: drop-shadow(5px 5px 15px var(--darkgreen)); */
}
header{
    background-image: url("./images/bg-header-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    background-color: var(--mediumgreen);
}
main{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: var(--mediumgreen); */
    
}
section{
    /* margin: 15px 10px; */
    padding: 15px 30px;
    display: flex;
    background-color: snow;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 3px 5px 10px var(--mediumgreen); */
}
h2{
    color: black;
    font-size: 20px;
    line-height: 26px;
    
}
h3{
    color: var(--darkgreen);
    font-size: 13px;
    
}
h4{
    color: var(--darkgreen);
    font-size: 15px;
}
h5{
    color: var(--grey);
    font-size: 12px;
    line-height: 18px;
}
.new{
    color: white;
    background-color: var(--darkgreen);
    border-radius: 4px;
    padding: 2px 5px;
}
.featured{
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 2px 5px;
}
.deets{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 20px;
}
.profile-name{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.conditions{
    display: flex;
    flex-direction: row;   
    gap: 12px;
}
.qualifications{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.qualifications h4{
    background-color: var(--green);
    padding: 5px 10px;
    line-height: 25px;
    border-radius: 3px;
}