*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --grey: #838383;
    --green: #eefeff;
    --mediumgreen:#a1e9ee;
    --darkgreen: #32bdc7;
    --font: ;
}
body{
    margin: 20px auto;
    /* margin: 30px 0px; */
    display: flex;
    flex-direction: column;
    width: 950px;
    /* filter: drop-shadow(5px 5px 15px var(--darkgreen)); */
}
.header{
    width: 950px;
    height: 100px;
}
header{
    background-color: var(--mediumgreen);
}
main{
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* background-color: var(--mediumgreen); */
    
}
section{
    /* margin: 15px 10px; */
    padding: 15px 30px;
    display: flex;
    background-color: snow;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    align-items: center;
    /* box-shadow: 0px 2px 5px 0px var(--mediumgreen); */
    filter: drop-shadow(0px 3px 10px var(--mediumgreen));
}
h2{
    color: black;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
h2:hover{
    color: var(--darkgreen);
}
h3{
    color: var(--darkgreen);
    font-size: 13px;
    font-weight: 500;
}
h4{
    color: var(--darkgreen);
    font-size: 15px;
    font-weight: 600;
}
h5{
    color: var(--grey);
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
/* ul{
    display: flex;
    flex-direction: row;
} */
.new{
    color: white;
    background-color: var(--darkgreen);
    border-radius: 4px;
    padding: 2px 5px;
}
.featured{
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 2px 5px;
}
.deets{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 20px;
}
.profile-name{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.conditions{
    display: flex;
    flex-direction: row;   
    gap: 12px;
}
.qualifications{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.qualifications h4{
    background-color: var(--green);
    padding: 5px 10px;
    line-height: 25px;
    border-radius: 3px;
    cursor: pointer;
}
.qualifications h4:hover{
    color: var(--green);
    background-color: var(--darkgreen);
}
.top{
    border-left: 3px solid var(--darkgreen);
}